<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>TP CRUD Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check_User</display-name>
    <servlet-name>Check_User</servlet-name>
    <servlet-class>Check_User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check_User</servlet-name>
    <url-pattern>/Check_User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperationForm</display-name>
    <servlet-name>OperationForm</servlet-name>
    <servlet-class>OperationForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperationForm</servlet-name>
    <url-pattern>/OperationForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperationWithDatabase</display-name>
    <servlet-name>OperationWithDatabase</servlet-name>
    <servlet-class>OperationWithDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperationWithDatabase</servlet-name>
    <url-pattern>/OperationWithDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchResult</display-name>
    <servlet-name>SearchResult</servlet-name>
    <servlet-class>SearchResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResult</servlet-name>
    <url-pattern>/SearchResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>